#orderCard{
    width: 20rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: none;
}

#orderBody{
    background-color: rgba(255, 255, 255, 0);
    padding: 16px;
}

#orderTitle{
    color: #343a40;
    font-size: 1.5rem;
    margin-bottom: 8px;
    font-weight: 600;
}

#orderText1{
    color: #000;
    font-size: 1rem;
    margin-bottom: 4px;
}

#orderText2{
    color: #343a40;
    font-size: 1.25rem;
    margin-bottom: 16px;
    font-weight: 500;
}

#getOrderRow{
    margin-top: 3%;
    margin-bottom: 3%;
}

#orderSearch{
    width: 350px;
}

#searchCol{
    margin-top: -1.5%;
}

#status{
    
    font-weight: 900;
    font-size: 19px;
}

#orderUserContainer {
    background-image: url('../../../public/images/order1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
  }
  