.mainform1 {
    margin: 50px 230px 50px 230px;
    padding: 2rem;
    border: 1px solid rgb(224,224,224);
    border-radius: 15px;
    box-shadow: 10px 7px 0 rgb(224,224,224);
    background-color: rgb(187, 174, 242);
    display: flex;
}

.header1 {
    font-size: 17px;
    font-family: candara;
    display: flex-end;
}
.mainform {
    margin: 50px 230px 50px 230px;
    padding: 2rem;
    border: 1px solid rgb(224,224,224);
    border-radius: 15px;
    box-shadow: 10px 7px 0 rgb(224,224,224);
    background-color: rgb(187, 174, 242);
    display: flex;
}

.header {
    font-size: 17px;
    font-family: candara;
    display: flex-end;
}

input[type=text], select, textarea {
    display: flex;
    width: 160%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#second{
    margin-top: 40px;
}

