

#supplier{
    color: #053345;
    font-family: Inter;
    font-weight: 600;

}



#example1{
    border-radius: 20px;
}

#dateInput{
    border-radius: 20px; 
}
#disAdd{
    
    border-radius: 20px;
    margin-left: 80%;
}
#editBtn{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #4DB6AC1F;
}

#editIcon{
    color: #4DB6AC;
}

#editDelete{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #F656561F;
}
#dis{
    color: #053345;
    font-family: Inter;
    font-weight: 600;

}
#discountContainer{
    margin-top: 8%;
    margin-left: 23%;
    position: fixed;
    overflow-y: scroll; 
    max-height: 80%;
}
#DeleteIcon{
    color: #F65656;
}

#createDis{
    margin-top: 8%;
    margin-left: 33%;
    position: fixed;
    overflow-y: scroll; 
    max-height: 80%;
    
}

#AllDis{
    color: #01161f;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
}

#exampleInputPassword1{
    border-radius: 20px;
}

#disAdd{
    margin-bottom: 50px;
    width: 15%;
    
}
#details{
    color: #000000;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
}
#newprice{
    color: #6e68e8;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}
#paymentCount{
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 1%;
}
#paymentCardTitile{
    font-weight: 900;
    font-size: 25px;
    color:#023b53;
}
#AllSupplier{
    color: #01161f;
    font-family: Inter;
    font-weight: 700;
    font-size: 35px;
}

