#productContainer{
    margin-top: 8%;
    margin-left: 23%;
    position: fixed;
    overflow-y: scroll; 
    max-height: 80%;
}

#product{
    color: #053345;
    font-family: Inter;
    font-weight: 600;

}

#exampleInputPassword1{
    border-radius: 20px;
}

#addBtn{
    margin-left: 80%;
    margin-bottom: 20px;
}

#details{
    color: #000000;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
}

.rate-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px; /* Adjust as needed */
    margin-top: 3%;
    margin-left: 20%;
}

.rate-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rate-value {
    font-size: 24px;
    font-weight: bold;
    color: #053345; /* or any color you prefer */
    padding: 10px 20px;
    border: 2px solid #053345;
    border-radius: 5px;
    animation: pulse 1s infinite alternate; /* Optional: Add animation */
}
